<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authentic Filters</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="{{'assets/images/logo/af-favicon.png'|theme}}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

</head>
<body class="{{ 'page-'~this.page.id }}">

<!-- Header -->
    {% partial 'header' %}


<!-- Content -->
<section id="layout-content">
    {% page %}
</section>

<!-- Footer -->
<footer>
{% partial 'footer' %}
</footer>
<script
    type="text/javascript"
    src="https://code.jquery.com/jquery-3.6.0.min.js"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>

<script type="text/javascript" src="{{'assets/js/app.js'|theme}}"></script>
<script>
    $(document).ready(function() {
        jQuery.expr[':'].Contains = function(a, i, m) {
            return jQuery(a).text().toUpperCase()
                .indexOf(m[3].toUpperCase()) >= 0;
        };


        jQuery.expr[':'].contains = function(a, i, m) {
            return jQuery(a).text().toUpperCase()
                .indexOf(m[3].toUpperCase()) >= 0;
        };

        $('#search').keyup(function(e) {
            var s = $(this).val().trim();

            if (s === '') {
                $('#result li').show();
                return true;
            }
            $('#result li:not(:contains(' + s + '))').hide();

            $('#result li:contains(' + s + ')').show();
            return true;
        });

    });
</script>
{% framework extras %}
{% scripts %}

</body>
</html>
