@import "global.scss";



.about {
    padding-top: 10vh;

    .extra {
        padding-top: $space_20*4;
    }
}
@media screen and (min-width: $desktop){
    .click {
        display: none;
    }
    .box-shadow-right-pad {
        padding-right: $space_35 - 5;
    }
    .box-shadow-left-pad {
        padding-left: $space_35 - 5;

    }
}
