@import "global.scss";

.contact-form {
    padding: $space_35;
    text-align: center;
    width: 100%;
    background-image: url("../images/contact-form/AF_Clean_Kitchen.jpeg");
    background-repeat: no-repeat;
    .contact-header {
        h2 {
            padding-bottom: $space_10;
            color: $color_white;
        }
        p {
            padding-bottom: $space_25 *2;
            color: $color_white;

        }
    }
    .contact-form-fields {
        display: flex;
        flex-direction: column;

        .contact-form-input, .dropdown {
            padding: $space_10;
            margin-bottom: $space_20;
            border-radius: 4px;
            border: none;
            background-color: $color_white;
            font-weight: $font-weight_light;
            &::placeholder {
                font-size: $font-size_18;
                color: $color_contact_inputs;
                font-weight: $font-weight_light;
                opacity: 0.5;
            }
        }
    }

        .contact-star {
            justify-content: flex-start;
            display: flex;
        }

}
