@import "global.scss";

.faq-main {

    .faq-content {
        padding: 0 $space_35;

        .faq-list {
            list-style: none;

            li {
                background-color: $color_white;
                border-radius: 5px;
                padding: $space_25 $space_35;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
                margin: 0 auto $space_35;
                text-align: left;
                width: 100%;

                .faq-heading {
                    font-size: $font-size_24;
                    position: relative;
                    cursor: pointer;
                    margin-left: 0;
                    color: $color_faq;
                }

            }

            .faq-heading::before {
                content: "+";
                display: block;
                position: absolute;
                right: -14px;
                top: 1px;
                color: $color_primary;

            }

            .the-active .faq-heading::before {
                content: "-";
            }

            .faq-text {
                display: none;
            }

            .read {
                font-size: $font-size_18;
                color: $color_faq;
                margin-top: $space_25;
            }

        }
    }
    .load-more{
        display: none;
    }
    .heading-color {
        color: $color_primary !important;
    }
}

@media screen and (min-width: $desktop) {
    .faq-main {
        .faq-content {
            padding: 0 $space_20 * 4;
        }
        .load-more{
            display: unset;

        }
        #load-btn {
            display: none;
        }
    }
}
