//...font size...//

$font-size_12: 12px;
$font-size_14: 14px;
$font-size_16: 16px;
$font-size_18: 18px;
$font-size_20: 20px;
$font-size_24: 24px;
$font-size_36: 36px;
$font-size_48: 48px;
$font-size_64: 64px;



//...font weights...//


$font-weight_light: 100;
$font-weight_regular: 400;
$font-weight_medium: 600;
$font-weight_bold: 700;



//...Spacing...//

$space_175: 175px;
$space_165: 165px;
$space_100: 100px;
$space_85: 85px;
$space_75: 75px;
$space_65: 65px;
$space_50: 50px;
$space_35: 35px;
$space_30: 30px;
$space_26: 26px;
$space_20: 20px;
$space_15: 15px;
$space_10: 10px;



//Colors

$color_primary: #1C2F64;
$color_secondary: #A3DD00;
$color_black: #000;
$color_white: #FFF;
$color_box_shadow: #9EEFFA;
$color_star: #ED6565;
$color_footer_links: #D9DBE1;
$color_faq: #0A0A0A;


//Media Queries

$tablet: 768px;
$laptop: 800px;
$small_desktop: 992px;
$desktop: 1024px;
$desktop_xl: 1200px;
$large_desktop: 1312px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}


.click-button {
    font-size: 18px;
    background: $color_secondary;
    border: none;
    color: white !important;
    border-radius: 10px;
    padding: 11px 24px;
    cursor: pointer;
    text-decoration: none;

}
.learn {
    border-radius: 5px;
    border: 1px solid black;
    background: none;
    padding: 5px;
    color: black;
    text-decoration: none;
}
.right {
    flex-direction: row-reverse !important;
}

.left-shadow {
    box-shadow: -15px 15px 0px 0px $color_box_shadow;
}

.right-shadow {
    box-shadow: 15px 15px $color_box_shadow;
}
