@font-face {
    font-family: 'Nexa';
    src: url("../fonts/Nexa-Bold.woff") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Nexa';
    src: url("../fonts/Nexa-Regular.woff") format('truetype');
    font-weight: 400;
}

//...font size...//

$font-size_12: 0.666rem;
$font-size_14: 0.777rem;
$font-size_16: 0.888rem;
$font-size_18: 1rem;
$font-size_20: 1.111rem;
$font-size_24: $font-size_12 * 2;
$font-size_36: $font-size_12 * 3;
$font-size_48: $font-size_12 * 4;
$font-size_64: $font-size_16 * 4;


//...font weights...//


$font-weight_regular: 400;
$font-weight_bold: 700;


//...Spacing...//

$space_10: 10px;
$space_20: $space_10 * 2;
$space_25: 25px;
$space_35: 35px;
//$space_50: $space_25 *2;
//$space_70: $space_35 *2;
//$space_100: $space_25 *4;
$space_175: 175px;
$space_265: 265px;


//Colors

$color_primary: #1C2F64;
$color_secondary: #A3DD00;
$color_black: #000;
$color_white: #FFF;
$color_box_shadow: #9EEFFA;
$color_star: #ED6565;
$color_footer_links: #D9DBE1;
$color_faq: #0A0A0A;
$color_contact_inputs: #A3AAC2;
$color_cards_shadow: #1C2F64;


//Media Queries

$tablet: 768px;
$laptop: 800px;
$desktop: 1024px;
$desktop_xl: 1200px;
$large_desktop: 1312px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Nexa', sans-serif;
}

.main-page {
    padding-top: $space_25 * 4;
    //padding: $space_175 $space_35;
    @media SCREEN and (min-width: $desktop) {
        //padding-top: $space_265;
        padding-top: 150px;
    }

}


//Fonts for Mobiles

h1 {
    font-size: $font-size_24;
    font-weight: $font-weight_bold;
    @media SCREEN and (min-width: $desktop) {
        font-size: $font-size_48;
    }
}

h2 {
    font-size: $font-size_24;
    font-weight: $font-weight_bold;
    //line-height: $line_height_36;
    @media SCREEN and (min-width: $desktop) {
        font-size: $font-size_36;
    }
}

h3 {
    font-size: $font-size_18;
    @media SCREEN and (min-width: $desktop) {
        font-size: $font-size_24;
    }
}

h4 {
    font-size: $font-size_16;
    @media SCREEN and (min-width: $desktop) {
        font-size: $font-size_16;
    }
}

h5 {
    font-size: $font-size_14;
    @media SCREEN and (min-width: $desktop) {
        font-size: $font-size_18;
    }
}

h6 {
    font-size: $font-size_12;
    @media SCREEN and (min-width: $desktop) {
        font-size: $font-size_16;
    }
}

p {
    font-size: $font-size_14;
    @media SCREEN and (min-width: $desktop) {
        font-size: $font-size_18;
    }
}


.click-button {
    font-size: $font-size_18;
    background: $color_secondary;
    border: none;
    color: $color_white !important;
    border-radius: 10px;
    padding: 11px 24px;
    cursor: pointer;
    text-decoration: none;
    font-weight: $font-weight_bold;
    font-family: "Nexa",sans-serif;
}

.learn {
    font-size: $font-size_18;
    border-radius: 10px;
    border: 1px solid black;
    background: none;
    padding: 11px 24px;
    color: black;
    text-decoration: none;
    font-weight: $font-weight_bold;
}

.active {
    color: $color_secondary;
}

.load {
    text-align: center;

    #load-btn {
        font-family: "Nexa", "sans-serif";
        cursor: pointer;
    }
}

.banner-paragraph {
    font-size: $font-size_14 !important;
    @media SCREEN and (min-width: $desktop) {
        font-size: $font-size_24 !important;
    }
    @media SCREEN and (min-width: $large_desktop) {
        font-size: $font-size_36 !important;
    }
}

.banner-heading {
    font-size: $font-size_24 !important;
    @media SCREEN and (min-width: $desktop) {
        font-size: $font-size_36 !important;
    }
}

.main-box {
    padding: 0 $space_35;
    .first-image {
        padding-bottom: $space_25 * 2;
        //padding-right: $space_10 - 4;
        @media SCREEN and (min-width: $tablet) {
            //padding-right: $space_25;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .about-content {
        h1 {
            padding-bottom: $space_20;
            font-size: $font_size_24;

        }

        p {
            padding-bottom: $space_20;
            line-height: 1.5;
            letter-spacing: 0.7px;
        }

        .button {
            padding-top: $space_20;
        }
    }
}
.head-1 {
    .head-1-about {
        padding-bottom: 0 !important;
    }
    span {
        margin-top: $space_20;
    }
}

.right {
    flex-direction: row-reverse !important;
}

.left-shadow {
    box-shadow: -11px 11px 0px 0px $color_box_shadow;
    @media  SCREEN and (min-width: $desktop) {
        box-shadow: -29px 26px 0px 0px $color_box_shadow;
    }
}

.right-shadow {
    box-shadow: 11px 11px $color_box_shadow;
    @media  SCREEN and (min-width: $desktop) {
        box-shadow: 29px 26px $color_box_shadow;
    }
}


.underline-header {
    background-color: $color_black;
    width: 40px;
    height: 3px;
    display: block;
    //margin-top: $space_10 + 5;
    margin-bottom: $space_20;
    @media SCREEN and (min-width: $desktop) {
        width: 80px;
    }
}

.headers {
    font-size: $font-size_24;
    color: $color_black;
    font-weight: $font-weight_bold;
    text-align: center;
    padding-bottom: $space_25 * 2;
    @media SCREEN and (min-width: $desktop) {
        font-size: $font-size_36;
    }
}


.services-head {
    padding-bottom: $space_10 + 5;

    .head {
        text-align: center;
        font-size: $font-size_18;
        letter-spacing: 2px;
        //font-weight: $font-weight_bold;
        font-weight: $font-weight_regular;
        text-transform: uppercase;
        @media SCREEN and (min-width: $desktop){
            font-size: $font-size_24;

        }
        &.head-service{
            font-weight: $font-weight_bold;
        }
    }
}


.banner {
    padding: $space_25 * 4 $space_35 0 $space_35;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    .first-content {
        h1 {
            font-size: $font-size_24;
            font-weight: $font-weight_bold;
            letter-spacing: 0.6px;
            line-height: 1.7;
        }
        p {
            padding-top: $space_35 - 5;
            //padding-bottom: $space_35;
            line-height: 1.5;
            letter-spacing: 0.7px;
        }
        .click {
            padding-top: $space_20 * 2;
        }
    }
    .second-content {
        padding-bottom: $space_25;
        img {
            width: 100%;
        }
    }
}
.bullet-content {
    .list-content {
        padding-left: $space_20;

        li {
            font-size: $font-size_14;
            line-height: 2.5;
            letter-spacing: 1.15px;
        }
    }
}
.main-content {
    padding: 0 $space_35;

    p {
        padding: 0 !important;
        line-height: 1.5;
        letter-spacing: 1.5px;
    }
}
.line-height {
    line-height: 1 !important;
}

@media SCREEN and (min-width: $tablet) {
    .banner {
        padding: $space_20*4 $space_20*2 0 $space_20*2;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .first-content {
            width: 40%;


        }

        .second-content {
            width: 55%;

            img {
                display: unset;
                width: 100%;
                height: auto;
            }
        }
    }

}


@media SCREEN and (min-width: $desktop) {
    .banner {
        padding: $space_20*5 $space_20*4 + 10 0 $space_20*4 - 5;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .first-content {
            width: 40%;
        }

        .second-content {
            padding-right: $space_20 - 5;
            width: 55%;

            img {
                display: unset;
                width: 100%;
                height: auto;
            }
        }
    }
    .align-end {
        text-align: end;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .main-box {
        padding: 0 $space_35 * 2 + 5;

        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .first-image {
            width: 50%;

            img {
                //height: auto;
            }
        }

        .about-content {
            width: 40%;
            h1 {
                font-size: $font_size_36;
            }
        }
    }

    .bullet-content {
        .list-content {
            li {
                font-size: $font-size_18;
                padding-top: $space_20;
                letter-spacing: 1.75px;
            }
        }
    }
    .main-content {
        padding: 0 $space_20*4;

        p {
            padding-top: $space_20 !important;

        }

    }

}
.padding-right {
    @media screen and (min-width: $desktop) {
        padding-right: $space_20 + 5;
    }
}
.headers-content {
    padding: 0;
    font-weight: $font-weight_regular;
    @media SCREEN and (min-width: $desktop) {
        padding: 0 $space_35;
    }
}
.main-box{
    position: relative;
    > a{
        position: absolute;
        left: 0;
        top: -200px;
    }
}
.transfer {
    position: absolute;
    //top: -50px;
    top: 100px;
}

.footer-input:-webkit-autofill,
.footer-input:-webkit-autofill:hover,
.footer-input:-webkit-autofill:focus,
.footer-input:-webkit-autofill:active{
    border: 1px solid white !important;
    -webkit-box-shadow: 0 0 0 30px #495983 inset !important;
    //color: white !important;
    -webkit-text-fill-color: white !important;
}
.footer-input{
    color: white;
}

