@import "global.scss";

//HEADER

header {
    display: flex;
    background-color: $color_white;
    width: 100%;
    margin: auto;
    //min-height: 8vh;
    height: 100px;
    align-items: center;
    padding: $space_25 $space_35 - 1;
    position: fixed;
    justify-content: space-around;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 15px;

    .logo {
        flex: 2;
        width: auto;
        cursor: pointer;

        img {
            width: 140px;
            height: auto;
            @media screen and (min-width: $desktop) {
                width: 170px;
            }
            @media screen and (min-width: $desktop_xl) {
                width: 230px;
            }
        }
    }

    nav {
        .nav-links {
            display: flex;
            //justify-content: space-evenly;
            //width: auto;
            position: absolute;
            right: -12px;
            top: 99px;
            background-color: $color_white;
            flex-direction: column;
            align-items: flex-start;
            width: 300px;
            transform: translateX(110%);
            transition: transform 0.5s ease-in;
            border-radius: 15px;
            height: auto;
            min-height: 30vh;
            padding: 40px 12px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            @media screen and (min-width: $desktop){
                min-height: auto;
                box-shadow: none;
                padding: 0;

            }
            @media screen and (max-width: 1023px) and (orientation: landscape) {
                top: 0;
            }
            li {
                list-style: none;
                padding: 12px 30px;
                @media screen and (min-width: $desktop){
                    padding: 15px 0;
                }
                > a {
                    color: $color_black;
                    text-decoration: none;
                    font-weight: $font-weight_bold;
                    //line-height: 18px;
                    font-size: $font_size_18;
                }
            }
            .header-click-button {
                padding-top: 40px;
                @media screen and (min-width: $desktop){
                    padding: 0;
                }
            }
        }

        .nav-active {
            transform: translateX(0%);
        }
    }

    .burger {
        display: inline-block;
        z-index: 99;
        cursor: pointer;
        div {
            width: 20px;
            height: 2px;
            background-color: #3a3a3c;
            margin: 4px 0;
            transition: all 0.3s ease;
            pointer-events: none;
        }
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(0px, 0px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-10px, -10px);
    }

    .nav-links li {
        opacity: 0;
    }
}

@media screen and (min-width: $desktop) {
    header {
        flex-direction: row;
        width: 100%;
        position: fixed;
        padding: 35px 75px;
        nav {
            flex: 4.5;
        .nav-links {
            width: 100%;
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;
            transform: translateX(0%);
            right: 0;
            height: 0;
            top: 0;
            justify-content: space-between;
            li {
                opacity: 1;
            }
        }
        }
        .logo {
            flex: 2.5;
        }


        .burger {
            display: none;
        }


    }
}

@media SCREEN and (min-width: $desktop_xl){
    header {
        nav {
            flex: 4;
            .nav-links {
                li {
                    > a {
                        font-size: $font_size_18;
                    }
                }
            }

        }
        .logo {
            flex: 2.5;
        }
    }
}

@media SCREEN and (min-width: $large_desktop){
    header {
        nav {
            flex: 3;
        }
        .logo {
            flex: 2.5;
        }
    }
}
