@import "global";


.home-page {
    padding-top: 8vh;

    .banner {
        padding: $space_100 $space_35;

        width: 100%;

        .first-content {
            h1 {
                font-size: $font-size_24;
                font-weight: $font-weight_bold;
                letter-spacing: 1.25px;
                line-height: 1.65;
            }

            p {
                padding-top: $space-30;
                padding-bottom: $space-30;
            }
        }

        .second-content {
            img {
                display: none;

            }
        }
    }


    .main-box {
        padding: $space_85 $space_35;
        .first-image {
            padding-bottom: $space-35;
            img {
                width: 100%;
                height: auto;
            }
        }
        .about-content {
            h1 {
                padding-bottom: $space-35;
            }
            p {
                padding-bottom: $space-20;
            }
            .button {
                padding-top: $space-20;
            }
        }
    }




}


@media SCREEN and (min-width: $tablet) {
    .home-page {

        .banner {
            padding: $space_100 $space_85;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .first-content {
                width: 40%;
            }

            .second-content {
                width: 50%;

                img {
                    display: unset;
                    width: 100%;
                    height: auto;
                }
            }
        }
        .main-box {
            padding: $space_100 $space_85;

            display: flex;
            flex-direction: row;
            justify-content: space-between;


            .first-image {
                width: 40%;
            }
            .about-content {
                width: 50%;
            }
        }
    }
}


@media SCREEN and (min-width: $large_desktop) {
    .home-page {

        .banner {
            .first-content {
                h1 {
                    font-size: $font-size_48;
                }
            }


        }
    }
}
