@import "global";

.maintenance {
    padding-top: 10vh;

    .underline-header-maintenance {
        background-color: $color_black;
        width: 40px;
        height: 3px;
        display: block;
        margin-top: $space_10 + 5;
        margin-bottom: $space_20;
        @media SCREEN and (min-width: $desktop) {
            width: 80px;
        }
    }
}



    .maintenance-text {
        font-style: normal;
        @media SCREEN and (min-width: $tablet) {
            display: none !important;

        }
    }
    .click {
        @media SCREEN and (min-width: $tablet) {
        display: none !important;
    }
}
