[contactform]
==
<link rel="stylesheet" href="{{ ['assets/scss/contact-form.scss']|theme}}">

<div class="contact-form-section">
    <div class="main-page">
        <div class="contact-image">
            <div class="contact-form">
                <div class="contact-header">
                    <h2>What can we do for you?</h2>
                    <p class="contact-header-para">We are ready to work on a project of any complexity, whether it’s
                        a
                        restaurant, pub, club,
                        hospital,
                        shopping centre, or sporting arena we have you covered.
                    </p>
                </div>
                <form>
                    <div class="contact-flex">
                        <div class="contact-form-fields">
                            <input name="" class="contact-form-input" type="text" placeholder="Your Name*">
                            <div class="contact-dropdown-icon">
                                <select class="dropdown" type="select">
                                    <option disabled selected value>
                                        Reasons for Contacting*
                                    </option>
                                    <option class="dropdown-option" value="front-end">General Enquiry</option>
                                    <option class="dropdown-option" value="back-end">Filter Exchange</option>
                                    <option class="dropdown-option" value="fullstack">Hood Cleaning</option>
                                    <option class="dropdown-option" value="javaDeveloper">Duct & Fan Cleaning</option>
                                    <option class="dropdown-option" value="designer">Maintenance Program</option>
                                </select>
                                <img src="{{'assets/images/contact-form/ic_round-arrow-drop-down-circle.svg'|theme}}"
                                     alt=""/>
                            </div>
                            <input class="contact-form-input" type="text" placeholder="Business Name">
                        </div>
                        <div class="contact-form-fields">
                            <input class="contact-form-input" type="text" placeholder="Email*">
                            <input class="contact-form-input" type="text" placeholder="Phone">
                            <input class="contact-form-input" type="text" placeholder="Address">
                        </div>
                    </div>
                    <div class="contact-form-message-field">
                        <textarea class="contact-form-message-input" name="" id="" cols="30"
                                  rows="10">Message</textarea>
                        <!--                        <input class="contact-form-message-input" type="text" placeholder="Message">-->
                        <div class="contact-suggestion-section">
                            <h5><span class="contact-star">*</span></h5>
                            <h5 class="contact-suggestion">Indicates a required field</h5>
                        </div>
                    </div>

                    <button class="click-button">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>






{% component 'contactform' %}