[contactform]
==
<link rel="stylesheet" href="{{ ['assets/scss/contact-form.scss']|theme}}">


<div class="contact-form-section">
    <a href="" id="contact"></a>
    <div class="main-page">
        <div class="contact-image">
            <div class="contact-form">
                <div class="contact-header">
                    <h2>What can we do for you?</h2>
                    <p class="contact-header-para">We are ready to work on a project of any complexity, whether it’s a
                        restaurant, pub, club,
                        hospital,
                        shopping centre, or sporting arena, we have you covered.
                    </p>
                </div>
                <form id="af_contact_form" data-request="contactform::onSend" class="contact-form-fields-section" data-request-validate data-request-flash autocomplete="do-not-show-ac">
                    <div class="contact-flex">
                        <div class="contact-form-fields">
                            <input id="firstname_id" name="firstname" class="contact-form-input" type="text" placeholder="Your Name*" autocomplete="do-not-show-ac" required >
                            <div class="contact-dropdown-icon">
                                <select id="reasons_id" name="reasons_for_contacting" class="dropdown" type="select" required>
                                    <option disabled selected value>
                                        Reasons for Contacting*
                                    </option>
                                    <option class="dropdown-option" value="General Enquiry">General Enquiry</option>
                                    <option class="dropdown-option" value="Filter Exchange">Filter Exchange</option>
                                    <option class="dropdown-option" value="Hood Cleaning">Hood Cleaning</option>
                                    <option class="dropdown-option" value="Duct & Fan Cleaning">Duct & Fan Cleaning</option>
                                    <option class="dropdown-option" value="Maintenance Program">Maintenance Program</option>
                                </select>
                                <img src="{{'assets/images/contact-form/ic_round-arrow-drop-down-circle.svg'|theme}}"
                                     alt=""/>
                            </div>
                            <input id="business_id" name="business_name" class="contact-form-input" type="text" placeholder="Business Name" autocomplete="new-password">
                        </div>
                        <div class="contact-form-fields">
                            <input id="email_id" name="email" class="contact-form-input" type="email" placeholder="Email*" required autocomplete="new-password">
                            <input id="phone_id" name="phone" class="contact-form-input" type="tel" placeholder="Phone" autocomplete="new-password">
                            <input id="address_id" name="address" class="contact-form-input" type="text" placeholder="Address" autocomplete="new-password">
                        </div>
                    </div>
                    <div class="contact-form-message-field">
                        <textarea type="text" class="contact-form-message-input" name="content" id="content_id" cols="30"
                                  rows="10" placeholder="Message" autocomplete="new-password" ></textarea>
                        <div class="contact-suggestion-section">
                            <h5><span class="contact-star">*</span></h5>
                            <h5 class="contact-suggestion">Indicates a required field</h5>
                        </div>
                    </div>

                    <button id="af_contact_button"  class="click-button" type="submit" data-attach-loading>Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
