<link rel="stylesheet" href="{{ ['assets/scss/faq.scss']|theme}}">



<div class="faq">
    <a href="#" id="faq-target"></a>
    <div class="main-page">
        <div class="faq-main">
            <div class="faq-content">
                <section>
                        <ul class="faq-list">
                            <li>
                                <h5 class="faq-heading">Why should Authentic Filters clean your filters?</h5>
                                <p class="read faq-text">
                                    Filters become clogged with fat and grease preventing the fan working efficiently.
                                </p>
                            </li>
                            <li>
                                <h5 class="faq-heading">How long does it take to exchange the filters? </h5>
                                <p class="read faq-text">
                                    Filters become clogged with fat and grease preventing the fan working efficiently.
                                </p>
                            </li>
                            <li>
                                <h5 class="faq-heading">What time of the day do we call on you?</h5>
                                <p class="read faq-text">
                                    Filters become clogged with fat and grease preventing the fan working efficiently.
                                </p>
                            </li>
                            <li>
                                <h5 class="faq-heading">How often should my filters be exchanged? </h5>
                                <p class="read faq-text">
                                    Filters become clogged with fat and grease preventing the fan working efficiently.
                                </p>
                            </li>
                            <li>
                                <h5 class="faq-heading">My business is quieter in the winter months - can I vary my frequency of filter exchanges?</h5>
                                <p class="read faq-text">
                                    Filters become clogged with fat and grease preventing the fan working efficiently.
                                </p>
                            </li>
                            <li>
                                <h5 class="faq-heading">How are my filters cleaned?</h5>
                                <p class="read faq-text">
                                    Filters become clogged with fat and grease preventing the fan working efficiently.
                                </p>
                            </li>
                            <li>
                                <h5 class="faq-heading">Why shouldn't the chef or cleaning staff clean the filters? </h5>
                                <p class="read faq-text">
                                    Filters become clogged with fat and grease preventing the fan working efficiently.
                                </p>
                            </li>
                            <li>
                                <h5 class="faq-heading">How often should I have my duct and fan cleaned?</h5>
                                <p class="read faq-text">
                                    Filters become clogged with fat and grease preventing the fan working efficiently.
                                </p>
                            </li>
                            <li>
                                <h5 class="faq-heading">I don't like receiving a large account for my duct clean especially in the quieter months - what can I do? </h5>
                                <p class="read faq-text">
                                    Filters become clogged with fat and grease preventing the fan working efficiently.
                                </p>
                            </li>
                            <li>
                                <h5 class="faq-heading">What benefits to I get from a regular cleaning schedule?</h5>
                                <p class="read faq-text">
                                    Filters become clogged with fat and grease preventing the fan working efficiently.
                                </p>
                            </li>
                        </ul>
                </section>
            </div>
        </div>
    </div>
</div>
