[interested]
==
<link rel="stylesheet" href="{{ ['assets/scss/footer.scss']|theme}}">

<footer>
    <div class="footer-main">
        <div class="footer-section">
            <div class="footer-logo-section">
                <div class="footer-logo">
                    <img src="{{'assets/images/footer/footer-logo.svg'|theme}}" alt=""/>
                </div>
                <div class="footer-social-links">
                    <li><a href=""><img src="{{'assets/images/footer/instagram.svg'|theme}}" alt=""/></a></li>
                    <li><a href=""><img src="{{'assets/images/footer/facebook.svg'|theme}}" alt=""/></a></li>
                </div>
            </div>
            <div class="footer-desktop-company-links">
                <div class="footer-company">
                    <ul>
                        <p class="footer-headers">Company</p>
                        <li class="footer-links"><a href="{{ 'about'|page }}">About us</a></li>
                        <li class="footer-links"><a href="#contact">Contact us</a></li>
                        <li class="footer-links"><a href="{{ 'services'|page }}">How it works</a></li>
                    </ul>
                </div>
                <div class="footer-support">
                    <ul>
                        <p class="footer-headers">Support</p>
                        <li class="footer-links"><a href="#contact">Help center</a></li>
                        <li class="footer-links"><a href="{{'assets/content/Authentic Filters Pty Ltd Terms and Conditions.docx'|theme}}">Terms of services</a></li>
                        <li class="footer-links"><a href="{{'assets/content/AF Privacy Policy.docx'|theme}}">Privacy policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-touch-section">
                <div >
                    <div class="footer-get-in-touch">

                        <form data-request="interested::onSubmit" data-request-files data-request-flash autocomplete="nope">
                            <p class="footer-headers">Lets get in touch!</p>


                            <div class="footer-form">
                                <input name="email" class="footer-input" type="email" placeholder="Your email address"/>
                                <button><img src="{{'assets/images/footer/send-arrow.svg'|theme}}" alt=""/></button>
                            </div>
                        </form>

                    </div>
                    <div class="footer-copyright">
                        <p>Copyright © 2022 Authentic Filters </p>
                        <div class="copy">
                            <p>All rights reserved</p>
                            <div class="line">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
