<!--FOOTER-->
<link rel="stylesheet" href="{{ ['assets/scss/footer.scss']|theme}}">


<footer>
    <div class="footer-main">
        <div class="main-page">
            <div class="footer-section">
                <div class="footer-logo-section">
                    <div class="footer-logo">
                        <img src="{{'assets/images/footer/footer-logo.svg'|theme}}" alt=""/>
                    </div>
                    <div class="footer-social-links">
                        <li><a href=""><img src="{{'assets/images/footer/instagram.svg'|theme}}" alt=""/></a></li>
                        <li><a href=""><img src="{{'assets/images/footer/facebook.svg'|theme}}" alt=""/></a></li>
                        <li><a href=""><img src="{{'assets/images/footer/twitter.svg'|theme}}" alt=""/></a></li>
                        <li><a href=""><img src="{{'assets/images/footer/youtube.svg'|theme}}" alt=""/></a></li>
                    </div>
                    <div class="footer-copyright">
                        <p>Copyright © 2022 Authentic Filters </p>
                        <div class="copy">
                            <p>All rights reserved</p>
                            <div class="line">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-mobile-company-links">
                    <ul>
                        <li class="footer-links"><a href="#">About us</a></li>
                        <li class="footer-links"><a href="#">Careers</a></li>
                        <li class="footer-links"><a href="#">Contact Us</a></li>
                        <li class="footer-links"><a href="#">Help Center</a></li>
                        <li class="footer-links"><a href="#">Privacy policy</a></li>
                        <li class="footer-links"><a href="#">Terms of service</a></li>
                        <li class="footer-links"><a href="#">Legal</a></li>
                    </ul>
                </div>
                <div class="footer-desktop-company-links">
                    <div class="footer-company">
                        <ul>
                            <p class="footer-headers">Company</p>
                            <li class="footer-links"><a href="#">About us</a></li>
                            <li class="footer-links"><a href="#">Careers</a></li>
                            <li class="footer-links"><a href="#">Contact us</a></li>
                            <li class="footer-links"><a href="#">how it works</a></li>
                            <li class="footer-links"><a href="#">For commercial</a></li>
                        </ul>
                    </div>
                    <div class="footer-support">
                        <ul>
                            <p class="footer-headers">Support</p>
                            <li class="footer-links"><a href="#">Help center</a></li>
                            <li class="footer-links"><a href="#">Terms of services</a></li>
                            <li class="footer-links"><a href="#">Legal</a></li>
                            <li class="footer-links"><a href="#">Privacy policy</a></li>
                            <li class="footer-links"><a href="#">status</a></li>
                        </ul>
                    </div>
                    <div class="footer-get-in-touch">
                        <form action="">
                                <p class="footer-headers">Lets get in touch</p>
                            <div class="footer-form">
                                <input type="text" placeholder="Your email address"/>
                                <button><img src="{{'assets/images/footer/send-arrow.svg'|theme}}" alt=""/></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
