<!--HEADER-->
<link rel="stylesheet" href="{{ ['assets/scss/header.scss']|theme}}">

<header>
    <div class="logo">
        <a href="{{'home-page'|page}}"> <img src="{{'assets/images/logo/authentic-filters-logo.jpg'|theme}}"
                                             alt=""/></a>
    </div>
    <nav>
        <ul class="nav-links">

        </ul>
    </nav>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</header>
