<!--HEADER-->
<link rel="stylesheet" href="{{ ['assets/scss/header.scss']|theme}}">

<header>
    <div class="logo">
        <a href="{{'home-page'|page}}"> <img src="{{'assets/images/logo/authentic-filters-logo.jpg'|theme}}" alt="" /></a>
    </div>
    <nav>
        <ul class="nav-links">
            <li>
                <a class="nav-link" href="{{ 'services'|page }}">Services</a>
            </li>
            <li><a class="nav-link" href="{{'about'|page}}">About Us</a></li>
            <li><a class="nav-link" href="{{'maintenance'|page}}">Maintenance Program</a></li>
            <li><a class="nav-link" href="{{'faq-page'|page}}">FAQ's</a></li>
            <li><a class="nav-link click-button"  href="#">Get Started</a></li>
        </ul>
    </nav>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</header>
