<!--HEADER-->
<link rel="stylesheet" href="{{ ['assets/scss/header.scss']|theme}}">

<header>
    <div class="logo">
        <a href="{{'home-page'|page}}"> <img src="{{'assets/images/logo/authentic-filters-logo.jpg'|theme}}"
                                             alt=""/></a>
    </div>
    <nav>
        <ul class="nav-links">
            <li>
                <a class="nav-link" href="{{ 'services'|page }}">
                    <span class="{% if this.page.id == 'services' %} active {% endif %}">Services</span></a>
            </li>

            <li><a class="nav-link" href="{{'about'|page}}">
                <span class="{% if this.page.id == 'about' %} active {% endif %}">About Us</span></a></li>

            <li><a class="nav-link" href="{{'maintenance'|page}}">
                <span class="{% if this.page.id == 'maintenance' %} active {% endif %}">Maintenance Program</span></a>
            </li>

            <li><a class="nav-link" href="{{'faq-page'|page}}">
                <span class="{% if this.page.id == 'faq-page' %} active {% endif %}">FAQ's</span></a></li>

            <li class="header-click-button"><a class="nav-link click-button" href="#contact">Get Started</a></li>
        </ul>
    </nav>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</header>
