[staticPage]
useContent = 1
default = 0
==
<div class="faq">
    <div class="main-page">
        <a href="#" id="faq-target"></a>
        <div class="faq-main">
            <div class="faq-content">
                <section>
                    <h1 class="headers">Frequently Asked Questions</h1>
                    <div class="head-1 faq-headers-most">
                        <h1 class="faq-headers">Most Frequently Asked Questions</h1>
                        <span class="underline-header "></span>
                    </div>
                    <ul id="result" class="faq-list faq-ul">
                        <li>
                            <h5 class="faq-heading">Why should Authentic Filters clean your filters?</h5>
                            <p class="read faq-text">
                                Filters become clogged with fat and grease preventing the fan working efficiently.
                            </p>
                        </li>
                        <li>
                            <h5 class="faq-heading">How long does it take to exchange the filters? </h5>
                            <p class="read faq-text">
                                Depending on the number of filters it only a few minutes - it often takes longer to park
                                the vehicle and walk to your premises than to exchange the filters.
                            </p>
                        </li>
                        <li>
                            <h5 class="faq-heading">What time of the day do we call on you?</h5>
                            <p class="read faq-text">
                                Due to the nature of our clients working environments we work at any time that is
                                convenient to both parties. Our technician's day often starts at 2:00am with the
                                cleaners letting the technicians in.
                            </p>
                        </li>
                        <li>
                            <h5 class="faq-heading">How often should my filters be exchanged? </h5>
                            <p class="read faq-text">
                                The style of your cooking depends on the frequency of the filter exchanges. Wok cooking.
                                busy establishment where food is deep fried regularly, and charcoal grills require the
                                filters to be exchanged
                                more regularly than a small cafe type kitchen. Frequency can vary from weekly to twelve
                                weekly cycles.
                            </p>
                        </li>
                        <li>
                            <h5 class="faq-heading">My business is quieter in the winter months - can I vary my
                                frequency of
                                filter exchanges?</h5>
                            <p class="read faq-text">
                                Just ask your service technician to alter the frequency or telephone the office on 0477
                                031 411 or email us (info@authenticfilters.com.au)
                            </p>
                        </li>
                        <li>
                            <h5 class="faq-heading">How are my filters cleaned?</h5>
                            <p class="read faq-text">
                                The service technician removes your filters, replacing them with clean filters and
                                returns your dirty filters to our factory. These dirty filters are soaked in a special
                                environmentally friendly cleaning
                                solution, then individually cleaned.
                            </p>
                        </li>
                        <div class="load-more">
                            <li>
                                <h5 class="faq-heading">Why shouldn't the chef or cleaning staff clean the
                                    filters? </h5>
                                <p class="read faq-text">
                                    Most dishwashing powders/liquids are caustic based and will eventually cause the
                                    filters to fall apart. Unless you have a grease trap. it is against the law to wash
                                    the grease down the sink and into the
                                    environment.
                                </p>
                            </li>
                            <li>
                                <h5 class="faq-heading">How often should I have my duct and fan cleaned?</h5>
                                <p class="read faq-text">
                                    As a rule of thumb, annually is adequate for most food establishments. Some
                                    insurance companies insist a twice yearly clean while some service station
                                    restaurants require cleaning every four months.
                                    Once again, the frequency depends on the type of cooking inyolved and insurance
                                    companies policy.
                                </p>
                            </li>
                            <li>
                                <h5 class="faq-heading">I don't like receiving a large account for my duct clean
                                    especially
                                    in the quieter months - what can I do? </h5>
                                <p class="read faq-text">
                                    At Authentic Filters we encourage clients to apply for a maintenance program.
                                </p>
                            </li>
                            <li>
                                <h5 class="faq-heading">What benefits to I get from a regular cleaning schedule?</h5>
                                <p class="read faq-text">
                                    The main benefits from a regular cleaning schedule include reducing the risk of a
                                    fire, a cleaner working kitchen, fresher atmosphere, increased efficiency of the fan
                                    system and meeting your council and
                                    insurance requirements. A regular clean is more economical as there is less time for
                                    the deposits of fat to build up. A regular clean is quicker and easier whereas an
                                    infrequent clean is very costly in
                                    labour as the grease and particles have adhered themselves to the surfaces over and
                                    over and over again. If the fan is dirty, it requires more energy to run and is not
                                    efficient in its operation.
                                </p>
                            </li>
                        </div>
                        <div class="load">
                            <button id="load-btn" class="learn">Load More</button>
                        </div>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>